<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>395295103453-d1g6ja76onk4hosmut4g64tqhuuvrils.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.395295103453-d1g6ja76onk4hosmut4g64tqhuuvrils</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>395295103453-h35ntdb37e7hi72e5bk27n4u7ad9j7tl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAwiE89ww-IJSOnkq0hgz1qItsXaN628Ko</string>
	<key>GCM_SENDER_ID</key>
	<string>395295103453</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.pickups</string>
	<key>PROJECT_ID</key>
	<string>pickups-app</string>
	<key>STORAGE_BUCKET</key>
	<string>pickups-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:395295103453:ios:470ccc77aec6d068e2be34</string>
</dict>
</plist>